.cart-page {
  .container {
    // background-color: #EBEBEB;

    .header-container {
      background-color: var(--color-black);

      .header-cart {
        max-width: 1380px;

        margin: auto;
        color: var(--colorWhite);
        display: flex;
        justify-content: space-between;

        h2 {
          padding: 20px 15px;
          font-size: 36px;
          font-family: Helvetica, sans-serif;
          text-shadow: 2px 2px var(--color-yellow);
        }
        h4 {
          color: white;
          padding: 20px 15px;
          font-size: 24px;
        }
      }
    }

    .cart-container {
      max-width: 1380px;
      margin: auto;

      p.cart-empty-message {
        text-align: center;
        padding: 20px;
        font-size: 36px;
        height: calc(100vh - 200px);
        a {
          color: var(--color-green);
        }
      }

      .cart-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding: 20px 30px;
        margin: 5px;
        border: 2px solid green;
        margin-bottom: 10px;
        border-radius: 10px;
        max-width: 1380px;

        .item-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h4 {
            font-size: 24px;
            padding: 10px 15px;
            margin: 10px;
            color: var(--color-green);
          }

          p {
            padding: 10px;
            margin: 10px;
            font-size: 24px;
          }

          .quantity-controls {
            font-size: 20px;

            button {
              padding: 20px 30px;
              border: none;
              margin: 0px 20px;
              font-size: 20px;

              &:hover {
                color: white;
                background-color: var(--color-green);
              }
            }
          }

          .item-total {
            font-size: 24px;
            padding: 10px 15px;
            text-align: start;
          }
        }
      }
    }
    .cart-total-price {
      background-color: rgb(230, 220, 220);
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 18px;
      .total {
        font-size: 24px;
        span {
          color: green;
          font-size: 28px;
          font-weight: bolder;
        }
      }
      button {
        background-color: var(--color-green);
        color: var(--colorWhite);
        padding: 10px 15px;
        border-radius: 3px;
      }
    }
  }
}
