.login-container{
    background-color:var(--color-light);
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:20px 0px;

    h1{
        font-size:36px;
       
    }

    form{

        display:flex;
        flex-direction: column;
        width:300px;
        margin:20px;
        // border:2px solid ;
        padding:15px;
        border-radius:12px;
        box-shadow: 2px 2px 4px 2px;
        

        h2{
            
        }
        label{
            line-height: 30px;
            font-size:14px;
            font-weight: 700;
            letter-spacing: 1px;
            padding:10px 3px 0px ;
            margin-top:10px;

        }
        input{
            line-height: 30px;
            font-size:18px;
            letter-spacing: 1px;
            padding:5px 3px 0px ;
            // border-radius:5px;

            &:focus{
                // outline: none;
                outline :2px red;
            }
        }

        button{
            line-height: 30px;
            font-size:18px;
            letter-spacing: 1px;
            padding:5px 3px 0px ;
            margin-top: 20px;
            background-color: var(--color-dark);
            color:var(--color-light);
        }

    }
    .content-Login{
        padding:50px 20px;

    
    }
}